body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.text-bold {
	font-weight: bold;
}

.inline-icon {
	vertical-align: bottom;
	font-size: 24px !important;
}

.margin-auto {
	margin: auto;
}

.margin-bottom {
	margin-bottom: 1rem;
}

.margin-top {
	margin-top: 20px;
}

.mg-top-50 {
	margin-top: 50px;
}

.mg-top-100 {
	margin-top: 100px;
}

.pd-top-50 {
	padding-top: 50px;
}

.btn-block {
	width: 100%;
}

.border {
	border: 1px solid rgb(110, 110, 110);
}

.text-center {
	text-align: left;
}

.text-size-mid {
	font-size: 1.3rem;
}

/* @media screen and (max-width: 640px) {
	.text-center {
		text-align: center;
	}
} */
